h1.city-name {
    display: block;
    margin: 0.75em 0 0.75em 0;
    font-size: 1.5em;
}

ul {
    margin-left: 2em;
}

.weather-item {
    display: block;
    margin-top: 0.5em;
}

.humidity {
    display: flex;
    margin: 2em;
}

.humidity-gauge {
    padding: 2em;
    border: 1px solid #eee;
    margin: auto;
    text-align: center;
}

.thermometers {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-content: center;
}

.thermometer-item{
    margin: 1em;
    padding: 2em;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 0.25em;
}

.thermometer-item, .humidity-gauge {
    box-shadow: 0 4px 16px -4px rgba(232,232,232,1);
}

.thermometer-item:hover, .humidity-gauge:hover {
    box-shadow: 0 4px 20px -4px rgba(216,216,216,1);
    cursor: pointer;
}

.thermometer-label, .humidity-label {
    display: block;
    margin: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
}
