.navbar-item img {
    max-height: 3em;
}

#register-navbar-button {
    background-color: #402e82;
}

@media (max-width: 1024px) {

    .navbar-menu {
        box-shadow: 0 5px 5px 0 rgb(230, 230, 230);
    }

    #burger-button {
        background-color: transparent;
        border: 0;
        height: unset;
    }
}
