.google-maps-marker {
    z-index: 2;
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    background-color: #3351e9;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
}

.google-maps-marker:hover {
    cursor: pointer;
    transition: ease-in-out 1000ms;
}

.google-maps-marker:hover .marker-info {
    display: inline-block;
}

.marker-info {
    width: max-content;
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.25em;
    font-size: 1.4em;
    padding: 1em;
}

.marker-info-city {
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
    font-weight: bold;
    z-index: 2;
}

.marker-info-value {
    margin-top: 0.5em;
    z-index: 2;
}


.marker-info:hover {
    cursor: pointer;
}
